# Getting ready to test the workflow run on workflow dispatch with input selection event

name: Terraform CD
on:
  push:
    branches:
      - main

jobs:
  Terraform:
    name: Terraform
    runs-on: ubuntu-latest
#    defaults:
#      run:
#        working-directory: ./terraform

    steps:
      - name: Checkout Codes
        uses: actions/checkout@v4.1.7

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4.0.2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform init

      - name: Terraform Plan
        run: terraform plan -no-color -input=false
        continue-on-error: true

      - name: Terraform Apply
        run: terraform apply -auto-approve

 #     - name: Pause 2min to verify bucket creation
 #       run: sleep 120

 #     - name: Terraform Destroy
 #       run: terraform destroy -auto-approve
